content {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

header {
    padding: 1rem;
}

main {
    background: whitesmoke;
    color: #444;
    padding: 2rem;
    display: flex;

    & > div {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
}

footer {
    background: lightskyblue;
    padding: 1rem;
}