.mat-card {
    max-width: 280px;

    &-image {
      height: 300px;
    }

    .mat-card-actions {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #e0e0e0;
    }
  }